<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">{{ 'User Management' | uppercase }}</h3>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <a routerLink="create" class="btn btn-success btn-link text-white">{{ 'Add New User' }}</a>
            </div>
            <select [(ngModel)]="selectedRole" (change)="onRoleChange()">
              <option value="all">All</option>
              <option value="admin">Admin</option>
              <option value="editor">Editor</option>
              <option value="user">User</option>
            </select>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of getPaginatedUsers()">
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                      <button class="btn btn-info btn-sm me-2" (click)="editUser(user.username)">Edit</button>
                      <button class="btn btn-danger btn-sm" (click)="removeUser(user.username)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul *ngIf="totalPages() > 1" class="pagination">
                <li class="page-item" *ngIf="currentPage > 1">
                  <a class="page-link prev" (click)="setPage(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>

                <li class="page-item" *ngFor="let page of generateNumberArray(totalPages())" [class.active]="isActivePage(page)">
                    <a class="page-link" (click)="setPage(page)">{{ page }}</a>
                </li>

                <li class="page-item next" *ngIf="currentPage < totalPages()">
                  <a class="page-link" (click)="setPage(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
